body
{
	background-color: #3390FF;
	padding: 0;
	margin: 0;
	text-decoration: none;
	
}

a
{
	text-decoration: none;
	color: yellow;
}

#adminTitle
{
	margin-left:25%;
}

#containerChapter
{
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 30px;
}

#addChapter
{
	margin-left: 50px;
	font-weight: bold;

}

#addChapter a
{
	color: purple;
}

#signalsComment
{
	margin-top: 50px;
	margin-left: 50px;
}

.editZone
{

	margin-left: 10px;
	margin-right: 10px;
}

.prev_page
{
	margin-left: 10px;
}

.titleZone
{
	margin-left: 10px;
}

.valider
{
	margin-top: 10px;
	margin-left: 10px;
}

#deleteLink
{
	margin-left: 10px;
}

#menu
{
	margin-bottom: 30px;
	width:100%;
	background-color: #33FFAF;
	height:60px;
}

ul
{
	float:right;
	padding-right: 20px;
	padding-top: 5px;
}

li 
{
    display : inline;
    text-align:right;
    padding-right: 10px;
}

li a
{
	color:blue;
}

#loginform
{
    text-align: center;
}

#footer /** Pied de page **/
{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: #33DDFF;
	padding-top: 5px;
	padding-left: 40%;
}

#footer p
{
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 5px;
}

.space
{
	padding-left: 45px;
	margin-bottom: 10px;
}